<div style="margin: 0 auto; padding-bottom: 30px; overflow: auto;">
  <div id="presentation_wrapper" class="left-col" style="width: 650px; float: left; margin-right: 40px;">
    <script async class="speakerdeck-embed" data-id="<%= @talk.presentation.token %>" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js" ></script>
  </div>
  <div class="right-col">
    <div id="ytplayer">
    </div>
    <div class="presentation-description" style="background: #aaa; width: 400px; float: left;">
      <%= image_tag "ed_square.jpg" %>
      <%= @talk.user.username %>

      <div id="presentation_info" data-transitions="<%= @talk.transitions_json %>"></div>
      <div id="video_info" data-id="<%= @talk.video.external_id %>"></div>
    </div>
  </div>
</div>

<div id="disqus_wrapper" style="margin: 0 auto;">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'talkin'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>